#ll-image-preview-tooltip {
	visibility: hidden;
	opacity:0;
    transition: opacity 1s ease-out;
	position: absolute;
	z-index: 2000;
	background-color: #cccccc;
	border: 2px solid #cccccc;
}

#ll-image-preview-tooltip.visible {
	visibility: visible;
	opacity: 1;
}